.nav_container {
  height: 100%;
  width: 100%;
  // background: #f8f8f8;
  .list_box {
    background: #fff;
    height: 28px;
    display: flex;
    align-items: center;
    padding: 4px;
    box-sizing: border-box;
    width: 100%;
    border-bottom: 1px solid #000;
  }
  .list_box:hover {
    background: rgb(106, 106, 106);
    color: white;
    cursor: pointer;
  }
  .list_text {
    padding: 0 2px;
    display: flex;
    align-items: center;
    font-size: 16px;
  }
  li .list_text {
    padding-left: 20px;
    background: none;
  }
  li .list_box {
    background: none;
  }
  li .list_box:hover {
    background: rgb(196, 196, 196);
  }
}
